* {
    margin-bottom: 10px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    background-color: rgb(53, 53, 53);
}

h1 {
    color: azure;
}

.card {
    box-shadow: 2px 2px black;
    background-color: #5cac98;
}
.card li, .card div {
    margin-bottom: 0px;
    margin-top: 0px;
}

.card-header, .list-group-item {
    border-color: transparent;
    background-color: #5cac98;
}
