* {
    margin-bottom: 10px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    background-color: rgb(53, 53, 53);
}

h1 {
    color: azure;
}


